body {
  font:13px/1.3 Roboto;
  background-color:#f5f5f5;
  height: initial;
}

#logo-dash .hidemobile {
  width:auto;
}

h4 {
  margin:.2em;
}

#simplogo {
  margin: 0 auto;
  display: block;
  margin-bottom: 25px;
  margin-top:7%;
}

#login-wrapper {
  background-color:#f5f5f5;
}

#login-fields {
  float:initial;
  padding:0;
}

#login-panel {
  background:none;
  background-color:#f5f5f5;
  width:100%;
  max-width:400px;
  padding-top:0;
  margin:0 auto;
}

#login-panel .label {
  font-weight:500;
  padding-top:.4em;
  padding-bottom:.4em;
  max-width:400px;
  line-height:18px;
  font-size:14pt;
  color:#595959;
  margin:5px 0;
}

#login-panel .input {
  width:100%;
  max-width:400px;
  min-height:26px;
  font-size:14pt;
  margin:0 auto;
  padding:6px;
}

#login-panel .button {
  max-width:350px;
  width:100%;
  display:block;
  height:48px;
  font-family:Roboto;
  border:0;
  font-size:16pt;
  color:#FFF;
  background-color:#4C6DA5;
  margin:30px auto;
}

#logo-dash {
  background:#113a6e;
  padding:15px 0 14px;
}

span.dashboardSuggestion.metricSuggestion {
  display: none;
} 

#sidebar-nav {
  height:100%;
  margin-top:53px;
}

#navigation ul {
  margin:auto;
}

#sidebar-nav .active {
  background:#5d6cb0 url(../images/navigation/arrow.png) 96% center no-repeat;
  background-size:11px 15px;
}

#sidebar-nav .active a {
  background:url(../images/navigation/arrow.png) 96% center no-repeat;
  background-size:11px 15px;
}

.sidebar-whole {
  background-color:#113A6E;
  z-index:2;
}

#dual-navigation-page #footer {
  margin-right:0;
  width:196px;
}

#form-buttons input {
  font-family:Roboto;
}

#advSearch {
  border: none;
  background-color: rgb(248, 248, 255);
  padding: 6px;
  border-radius: 3px;
  text-decoration: none;
  float: right;
  color: #000000;
}

select,.search-wrapper input {
  border:none;
  background-color:#f8f8ff;
  font:inherit;
  padding-top:.5em;
  padding-bottom:.5em;
  border-radius:3px;
}

.search-wrapper {
  width:inherit;
  border-radius:0;
  font-size:1em;
  margin:8px 0;
}

#query {
  max-width:500px;
  width:40%;
  outline:none;
}

#form-wrapper {
  margin-top:10px;
}

#form-wrapper h2 {
  font-weight:400;
}

.settings-row {
  padding:5px 0 0 20px;
}

.settings-row ul li {
  height:auto;
  padding-bottom: 5px;
}


#dashboard-header {
  background:#113a6e;
}

#dashboard-header h2 {
  margin-left:21px;
}

#navigation {
  height:43px;
  border-bottom:none;
  display:inline;
  left:236px;
}

.tile-series-widget {
  margin:0 0 30px;
}

#settings {
  margin:-8px 0 0 10px;
}

header {
  height:44px;  
}

.header {
  width: 15px;
}
#mobile-link a,#mobile-link a:hover {
  background:url(../../images/navigation/mobile-icon.png) no-repeat 50%;
  background-size:contain;
  padding:28px 10px 1px;
}

#computers-link a,#computers-link a:hover {
  background:url(../../images/navigation/computer-icon.png) no-repeat 50%;
  background-size:contain;
  padding:28px 10px 1px;
}

#users-link a,#users-link a:hover {
  background:url(../../images/navigation/user-icon.png) no-repeat 50%;
  background-size:contain;
  padding:28px 10px 1px;
}

#computers-link,#mobile-link,#users-link {
  height:inherit;
}

#footer {
  z-index:;
  display:none;
}

#dual-navigation-page #sidebar-nav {
  margin-top:53px;
}

#logo-dash,#sidebar-nav {
  position:fixed;
}

#user-modal,#user-modal-mobile,#sites-modal-mobile {
  top:26px;
}

.dataTable {
  margin-left:auto;
  margin-right:auto;
  width:inherit;
  float:none;
}

th {
  min-width:30px;
}

#content-inside {
  margin-left:236px;
}

#sites-link {
  margin-left:auto;
}

#computers-link a,#computers-link.active a,#computers-link a:hover,#mobile-link a,#mobile-link.active a,#mobile-link a:hover,#users-link a,#users-link.active a,#users-link a:hover {
  color:#373737;
  background:none;
  padding:14px;
}

#computers-link:hover,#mobile-link:hover {
  background-color:#CCC;
}

#navigation li a {
  font-size:1em;
}

#logo-dash P,body#dual-navigation-page,#dual-navigation-page #wrapper,#navigation,#navigation .active {
  background:none;
}

#sidebar-nav .divider:last {
  display:none;
}

.expandButton {
  display: none;
  position: fixed;
  left: 0;
  background-color: rgb(17, 58, 110);
  z-index: 99;
}

#topExpandButton {
  top: 0;
  padding: 9px 4px 100% 2px;
}

#bottomExpandButton {
  bottom: 9px;
  padding-left: 2px;
}

#notifications,#right-links,#site-links,#site-links {
  margin-top:15px;
}

#form-wrapper input.cancelButton, #form-wrapper input.alternativeButton, input.largeButton, a.largeButton, #form-wrapper input.submitButton {
  padding: 6px 24px;
  background: #4C6DA5;
  border: none;
  color: white;
  font-family: 'Roboto';
  font-weight: normal;
  text-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  border-radius: 3px;
}

input.cancelButton {
  margin-right:0;
}

#dashboard-page #navigation {
  position: fixed;
  background-color: #f5f5f5;
}

.tile-series-widget {
  margin: 70px 0 30px;
}

